<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
</head>
<body style="font-family: Helvetica;">
   <span style="font-size: 15px;"> 
   Hi,
<br>
<br>
This is to inform you that your account has been activated. Your access to features within the application have been restored. If you feel that you have received this message in error please contact your system administrator.

<br><br>
  Thanks & Regards,<br>
   ${currentUser}                                             
    </span>
    
</body>
</html>