<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
</head>
<body style="font-family: Helvetica;">
   <span style="font-size: 15px;"> 
    Hi,<br> <br> A request to reset your password for the Benefits2Go Admin Portal application has been received. Please click on the link below to reset your password.<br><br><a href="${activationLink}">${activationLink}</a>
    
    <br>
    <br>
    This link will expire once the password is reset or after ${expiryTimeValue} minutes. 
    <br>
       <br>
    Thank you
    </span>
    
</body>
</html>